.update-products {
  text-align: center;
}
.update-products form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.update-products form input {
  width: 25%;
  margin-bottom: 15px;
}
.update-products form textarea {
  width: 25%;
  margin-bottom: 15px;
}
