.banner-section {
  height: 100vh;
}
.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}
.banner-text p {
  width: 50%;
  padding: 0 50px;
  text-align: center;
  color: #000;
}
